@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

h1 {
  font-family: 'Libre Baskerville', serif;
  text-align: center;
}

body {
  font-family: 'Libre Baskerville', serif;
  /* background-color: rgb(255, 231, 202); */
  background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  width: 640px;
  margin: 0 auto;
}

.full-img {
  position: relative;
  display: flex;
  width: 640px;
  height: 480px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 640px;
  height: 480px;
  background-color: rgba(0,0,0,0);
}

button {
  border: 0;
  background: rgba(150,150,150,0.6);
  text-shadow: 1px 1px 1px white;
  border: 1px solid #999;
  position: absolute;
  cursor: pointer;
  top: 2px;
  left: 2px;
  font-family: 'Libre Baskerville', serif;
}

.thumb-bar img {
  display: block;
  width: 20%;
  float: left;
  cursor: pointer;
}