@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

html {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #2193b0, #6dd5ed);
  font-family: 'Libre Baskerville', serif;
}

body {
  width: 640px;
  /* margin: 0 auto; */
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
}

.full-img {
  position: relative;
  display: flex;
  width: 640px;
  height: 480px;
}

.overlay {
  /* position: absolute; */
  /* top: 0; */
  /* left: 0; */
  width: 640px;
  height: 480px;
  background-color: rgba(0,0,0,0);
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  border: 0;
  background: rgba(150,150,150,0.6);
  text-shadow: 1px 1px 1px white;
  border: 1px solid #999;
  position: absolute;
  cursor: pointer;
  top: 2px;
  left: 2px;
}

.thumb-bar img {
  display: block;
  width: 20%;
  float: left;
  cursor: pointer;
}